
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* || RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* || VARIABLES */
:root {
        /* fonts */
    --font-family-sans-serif: "Roboto", sans-serif;
    --font-size-md: 1.125rem;
    --font-size-lg: 2.25rem;
    --font-size-lgr: 3rem;
    --font-weight-reg: 400;
    --font-weight-bold: 900;
    
        /* colors */
    --color: rgba(0, 0, 0, 0.7);
    --hero-bgcolor: rgb(0, 0, 0);
    --link-hover: rgb(240, 11, 81);

        /* others */
    --padding-tb: 2rem 0;
    --padding-lr: 0 6rem;
}

/* || GENERAL STYLES */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: var(--font-size-md);
    font-weight: 400;
    color: var(--color);
    line-height: 1.5;
    max-width: 100%;
    overflow-x: hidden;
}

    /* Header and Hero */
.header-and-hero {
    background-color: var(--hero-bgcolor);
    padding: var(--padding-lr);
    color: white;
    min-height: 100vh;
}    

.header {
    display: flex;
    justify-content: space-between;
    padding: var(--padding-tb);
}

.logo {
    width: 300px;
    height: 120px;
}

.header ul {
    display: flex;
    padding-top: 1rem;
}

.header li {
    list-style-type: none;
    margin-inline: 16px;
}

.header a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.header a:hover,
.header a:focus-visible {
    color: var(--link-hover);
}

.hero {
    display: flex;
    align-items: center;
    gap: 10%;
    padding: var(--padding-tb);
}

.hero h1 {
    font-size: var(--font-size-lgr);
    font-weight: 900;
    line-height: 1.2;
    padding-bottom: 1.5rem;
}

.hero p {
    padding-bottom: 1.5rem;
}

.hero button {
    border: none;
    border-radius: 4px;
    background-color: var(--link-hover);
    padding: 0.25rem 0.5rem;
    color: rgb(255, 255, 255);
}

.hero button:hover,
.hero button:focus-visible {
    background-color: rgb(87, 2, 87);
    cursor: pointer;
}

    /* movies section */
#movies {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-tb);
}

#movies h2 {
    font-size: var(--font-size-lg);
    font-weight: 900;
    color: rgb(0, 0, 0);
    padding: var(--padding-tb);
}

.flex-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    row-gap: 24px;
    padding: var(--padding-tb);
}

.flex-images img {
    width: 300px;
    height: 450px;
}

.flex-images p {
    width: 300px;
    height: auto;
}

.rating {
    margin-top: 8px;
    color: rgb(0, 0, 0);
}

.rating-number {
    font-weight: 900;
}

    /* testimonials */
#testimonials {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 4rem 12rem 6rem;
}

.testimonials-container {
    display: flex;
    gap: 16px;
}

#testimonials .review-title {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

#testimonials img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.testimonial-provider {
    font-size: 14px;
    font-style: italic;
}

    /* sign-up */
#sign-up {
    background-color: var(--link-hover);
    color: rgb(255, 255, 255);
    margin: 4rem 6rem;
    padding: 2rem 4rem;
    line-height: 1.2;
    border-radius: 8px;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sign-up > div:first-of-type {
    flex-basis: 75%;
}

#sign-up p:first-of-type {
    font-weight: 600;
    padding-bottom: 1rem;
}

#sign-up button {
    border: 2px solid rgb(255, 255, 255);
    background-color: var(--link-hover);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
    font-weight: 400;
}

#sign-up button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

    /* footer */
.footer {
    height: 4rem;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

    /* Media Queries */
@media screen and (width < 768px) {
    body {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
    }

    .header-and-hero {
        /* padding: 0 2rem; */
        padding: 1rem;
    }

    .header {
        justify-content: center;
    }

    .header > div:last-of-type {
        display: none;
    }

    .hero {
        flex-direction: column;
    }

    .hero > div:first-of-type {
        display: flex;
        /* flex-direction: column makes the button and it's siblings(h1, p) take up the full width. */
        flex-direction: column;
        /* In order to fix this, specify a width size for the the btn and it's siblings OR use align-self OR align-items */
        align-items: flex-start;
        justify-content: center;
        padding-bottom: 2rem;
    }

    .hero div > h1 {
        font-size: 2rem;
    }

    .hero button {
        padding: 0 1rem;
        margin: 0 auto;
    }

    #movies {
        padding: 0;
    }

    #movies h2 {
        font-size: 1.5rem;
        padding-bottom: 0;
        text-align: center;
    }

    .flex-images {
        padding-top: 0;
    }

    #testimonials {
        padding: 2rem 1rem;
    }

    #testimonials .review-title {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: start;
        margin-left: 3.81rem; /* the width of the img and the gap between the img and the text */
    }

    #testimonials img {
        width: 45px;
        height: 45px;
    }

    #sign-up {
        margin: 2rem;
        padding: 1.5rem;
        flex-direction: column;
    }

    #sign-up div:last-of-type {
        padding-top: 1rem;
    }
}

